<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Estilos CSS
body
	style(stylesheet).
		.classname { property: value; }
		p#valueunique {
			color: blue;
			font-weight: 900;
			line-height: 60px;
			text-align:center;
		}
	p#valueunique Hola mundo : Estilos CSS en pug
