div(class="container-fluid")
	div(class="row servicies")
		-var y = 0;
		-var g = 0;
		ul
			while y < 3
				div(class="col-md-4")
					div(class="servicie")
						div(class="icon-holder")
							img(src="img/icons/heart-blue.png",alt="",class="icon")
						h4(class="heading") Cardio Training
						p(class="description") A elementum ligula lacus ac quam ultrices a scelerisque praesent vel suspendisse scelerisque a aenean hac montes.
				-var g=y++

