extends pugBase.pug
block herencia
	script(src="js/jquery-1.11.1.min.js")
	script(src="js/owl.carousel.min.js")
	script(src="js/bootstrap.min.js")
	script(src="js/jquery.onepagenav.js")
	script(src="js/main.js")